@import "../vendors/bootstrap/stylesheets/bootstrap.scss"; //bootstrap framework

@mixin button {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  padding: 19px 33px 18px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  &:hover {
    color: #000;
    background-color: #f1f1f1;
  }
}

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Helvetica",
    "Roboto", "Noto", "Ubuntu", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  margin: 0;
  padding: 0;
}

.header {
  .header-grid-12 {
    &__logo {
      a {
        background-image: url(../../images/incc-logo.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &__nav {
      .menu {
        ul {
          list-style-type: none !important;
          display: none;
          li {
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

/*End-Header*/

.hero-banner {
  .hero-banner-image {
    background: {
      image: url(../../images/sample/image1.png);
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
    .hero-banner-paragraph {
      &__content {
        padding: 20px 10px 50px 10px;
        max-width: 420px;
        .title {
          h2 {
            font-size: 2.2em;
            font-weight: 700;
          }
          p {
            padding-top: 10px;
          }
          .button {
            padding-top: 35px;
            a {
              @include button;
            }
          }
        }
      }
    }
  }
}

/*End Hero-banner*/
.tiles {
  .tiles-block {
    .tiles-grid-12 {
      .tiles-grid-6 {
        padding: 0;

        &__left {
          background: {
            image: url(../../images/sample/image2.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }

          .content {
            h3 {
              margin: 0;
              font-weight: 300;
              font-size: 1.8em;
            }
            .button {
              a {
                @include button;
              }
            }
          }
        }

        &__right {
          background: {
            image: url(../../images/sample/image3.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
          .content {
            h3 {
              margin: 0;
              font-weight: 300;
              font-size: 1.8em;
            }
            .button {
              a {
                @include button;
              }
            }
          }
        }
      }
    }
  }
}
/*End Tiles*/

.tiles-1 {
  .tiles-block {
    .tiles-grid-12 {
      background: {
        image: url(../../images/sample/image4.png);
        repeat: no-repeat;
        position: center center;
        size: cover;
      }
      &__content {
        .button {
          a {
            @include button;
          }
        }
      }
    }
  }
}

/*End Tiles-1*/

.tiles-2 {
  .tiles-block {
    .tiles-grid-12 {
      .tiles-grid-4 {
        &:nth-child(1) {
          background: {
            image: url(../../images/sample/image5.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
        }

        &:nth-child(2) {
          background: {
            image: url(../../images/sample/image6.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
        }

        &:nth-child(3) {
          background: {
            image: url(../../images/sample/image7.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
        }
        &__content {
          .button {
            a {
              @include button;
            }
          }
        }
      }
    }
  }
}

//@import "../vendors/bourbon/bourbon";
