@import "../vendors/bootstrap/stylesheets/bootstrap.scss"; //bootstrap framework

@mixin button {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  padding: 19px 33px 18px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  &:hover {
    color: #000;
    background-color: #f1f1f1;
  }
}

* {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Helvetica",
    "Roboto", "Noto", "Ubuntu", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  p {
    font-size: 13px;
  }
}

.header {
  .header-grid-12 {
    &__logo {
      a {
        background-image: url(../../images/incc-logo.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &__nav {
      .menu {
        ul {
          list-style-type: none !important;
          display: none;
          li {
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

/*End-Header*/

.hero-banner {
  .hero-banner-image {
    background: {
      image: url(../../images/sample/image1.png);
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
    height: 279px;
    .hero-banner-paragraph {
      &__content {
        padding: 20px 10px 50px 10px;
        max-width: 420px;
        .title {
          h2 {
            font-size: 2.2em;
            font-weight: 700;
          }
          p {
            padding-top: 10px;
          }
          .button {
            padding-top: 35px;
            a {
              @include button;
            }
          }
        }
      }
    }
  }
}

/*End Hero-banner*/
.tiles {
  .tiles-block {
    .tiles-grid-12 {
      .tiles-grid-6 {
        padding: 0;
        &__left {
          height: 264px;
          background: {
            image: url(../../images/sample/image2.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }

          .content {
            padding: 40px 20px 0 20px;
            color: #fff;
            h3 {
              margin: 0;
              font-weight: 700;
              font-size: 1.5em;
            }
            p {
              padding: 20px 0 0 0;
            }
            .button {
              padding-top: 25px;
              a {
                @include button;
              }
            }
          }
        }

        &__right {
          height: 264px;
          background: {
            image: url(../../images/sample/image3.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
          .content {
            padding: 40px 20px 0 20px;
            color: #fff;
            h3 {
              margin: 0;
              font-weight: 700;
              font-size: 1.5em;
            }
            p {
              padding: 20px 0 0 0;
            }
            .button {
              padding-top: 25px;
              a {
                @include button;
              }
            }
          }
        }
      }
    }
  }
}
/*End Tiles*/

.tiles-1 {
  .tiles-block {
    .tiles-grid-12 {
      height: 279px;
      background: {
        image: url(../../images/sample/image4.png);
        repeat: no-repeat;
        position: center center;
        size: cover;
      }
      &__content {
        padding: 30px 10px;
        h2 {
          font-size: 2em;
          font-weight: 700;
        }
        .button {
          padding-top: 25px;
          a {
            @include button;
          }
        }
      }
    }
  }
}

/*End Tiles-1*/

.tiles-2 {
  .tiles-block {
    .tiles-grid-12 {
      .tiles-grid-4 {
        height: 279px;
        &:nth-child(1) {
          color: #fff;
          background: {
            image: url(../../images/sample/image5.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
        }

        &:nth-child(2) {
          background: {
            image: url(../../images/sample/image6.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
          }
        }

        &:nth-child(3) {
          color: #fff;
          background: {
            image: url(../../images/sample/image7.png);
            repeat: no-repeat;
            position: center center;
            size: cover;
            width: 100%;
            max-width: 400px;
            height: auto;
          }
        }
        &__content {
          padding: 50px 20px 0 20px;

          h4 {
            font-size: 1.4em;
            font-weight: 700;
          }
          .button {
            padding-top: 25px;
            a {
              @include button;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .hero-banner {
    .hero-banner-image {
      height: 754px;
    }
  }
/*End Hero-banner*/

.tiles {
  .tiles-block {
    .tiles-grid-12 {
      .tiles-grid-6 {
        &__left {
          height: 635px;
        }
        &__right {
          height: 635px;
        }
      }
    }
  }
}

/*End Tiles*/

.tiles-1 {
  .tiles-block {
    .tiles-grid-12 {
      height: 754px;
    }
  }
}

/*End Tiles*/

.tiles-2 {
  .tiles-block {
    .tiles-grid-12 {
      .tiles-grid-4 {
        height: 400px;
      }
    }
  }
}



}
//@import "../vendors/bourbon/bourbon";
