@import "../vendors/bootstrap/stylesheets/bootstrap.scss"; //bootstrap framework

@mixin button {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  padding: 19px 33px 18px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  &:hover {
    color: #000;
    background-color: #F1F1F1;
  }
}

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Helvetica",
    "Roboto", "Noto", "Ubuntu", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: #000;
  margin: 0;
}

/*End-Header*/
.hero-banner {
  .hero-banner-image {
    background: {
      image: url(../../images/sample/image1.png);
      repeat: no-repeat;
      position: center center;
      size: cover;
    }
    .hero-banner-paragraph {
      &__content {
        padding: 30px 10px;
        position: static;
        .title {
          h2 {
            font-size: 2.2em;
            font-weight: 700;
          }
          .button {
            padding-top: 20px;
            a {
              @include button;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
}

//@import "../vendors/bourbon/bourbon";
